.modal {
  background: rgba(255, 255, 255, 0.78);
  width: 90%;
  max-width: 750px;
  height: 90%;
  padding: 30px;
  border-radius: 5px;
  color: black; }

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3; }

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; }

.modal-container > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 3;
  align-items: center;
  border-radius: 7px;
  border: solid black 1px; }

.modal-tile-color {
  height: 85%;
  width: 100%; }

.modal-tile-color + div {
  color: blue; }

.color-shades {
  height: 50px;
  width: 50px; }

.color-shades-list-container {
  display: flex;
  justify-content: space-around;
  flex: 1; }

.color-shades-container {
  display: flex;
  flex-direction: column; }

.close-modal-button {
  flex: 1; }
