.list-view-container {
  display: flex;
  flex-direction: column;
  width: 100%; }

.colors-sub-container {
  display: flex;
  flex-wrap: wrap;
  padding: 55px 30px;
  justify-content: center;
  flex: 8; }

.colors-sub-container > li {
  width: 150px;
  height: 164px;
  margin: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 0px 5px #4e4e4e; }

.indv-color {
  height: 130px;
  width: 150px;
  border-radius: 7px 7px 0 0; }

.indv-color + div {
  height: 35px;
  width: 100%;
  margin: 7px 0 -8px 28px; }

.numbers-container {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center; }

.numbers-container > li {
  margin: 0 8px; }
